body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture {
  display: block;
}

body {
  font-family: Roboto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
  }
}

.page-heading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.visually-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.theme-icon {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: auto;
  fill: white;
}

.theme-icon[data-theme=light] {
  display: none;
}

.theme-icon[data-theme=dark] {
  display: block;
}

.header {
  height: 230px;
  padding-top: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .header {
    background-image: url("../images/header-home-mobile@1x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header-home-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 768px) and (min-device-pixel-ratio: 1), only screen and (min-width: 768px) and (min-resolution: 96dpi), only screen and (min-width: 768px) and (min-resolution: 1dppx) {
  .header {
    background-image: url("../images/header-home-tablet@1x.jpg");
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header-home-tablet@2x.jpg");
  }
}
@media only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 1280px) and (min-device-pixel-ratio: 1), only screen and (min-width: 1280px) and (min-resolution: 96dpi), only screen and (min-width: 1280px) and (min-resolution: 1dppx) {
  .header {
    background-image: url("../images/header-home-desktop@1x.jpg");
  }
}
@media only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-resolution: 192dpi), only screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header-home-desktop@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-mobile@1x.jpeg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-mobile@2x.jpeg");
  }
}
@media screen and (min-width: 768px) {
  .header__library {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 768px) and (min-device-pixel-ratio: 1), only screen and (min-width: 768px) and (min-resolution: 96dpi), only screen and (min-width: 768px) and (min-resolution: 1dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-tablet@1x.jpeg");
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-tablet@2x.jpeg");
  }
}
@media only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 1280px) and (min-device-pixel-ratio: 1), only screen and (min-width: 1280px) and (min-resolution: 96dpi), only screen and (min-width: 1280px) and (min-resolution: 1dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-desctop@1x.jpeg");
  }
}
@media only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-resolution: 192dpi), only screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-desctop@2x.jpeg");
  }
}

.header-menu,
.header-logo,
.nav-links {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #fff;
}
.header-logo__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.header-logo__website-name {
  display: none;
}
@media screen and (min-width: 480px) {
  .header-logo__website-name {
    display: inline;
  }
}

.nav-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
}
.nav-link__active {
  border-bottom: 3px solid #ff001b;
}

.search-form {
  position: relative;
  max-width: 394px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 56px;
}

.search-input {
  height: 20px;
  width: 100%;
  padding: 0 0 4px 0;
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-radius: 0;
  color: #fff;
}
.search-input::-moz-placeholder {
  color: #fff;
}
.search-input:-ms-input-placeholder {
  color: #fff;
}
.search-input::placeholder {
  color: #fff;
}
.search-input::-moz-selection {
  color: #ff001b;
  background-color: #fff;
}
.search-input::selection {
  color: #ff001b;
  background-color: #fff;
}
.search-input:focus-within {
  outline: none;
}

.search-submit {
  position: absolute;
  right: -4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: none;
  border: none;
  cursor: pointer;
}

.search-form__submit-icon {
  width: 12px;
  height: 12px;
}

.header-error {
  width: 100%;
  margin-top: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .header-logo__website-name {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-logo__website-name {
    display: block;
  }
}

.main__myFilmLibraryPage {
  display: flex;
  justify-content: center;
}

.main__navigationLibrary {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .main__navigationLibrary {
    gap: 32px;
  }
}

.main__navigationLibraryButton {
  background-color: #ff001b;
  width: 148px;
  height: 42px;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}
@media screen and (min-width: 480px) {
  .main__navigationLibraryButton {
    margin-top: 62px;
  }
}
.main__navigationLibraryButton:hover {
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(255, 255, 255);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .movie-list {
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-list {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

.movie-item {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .movie-item {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-item {
    width: 394.6666666667;
  }
}

.movie-link:hover .movie-image, .movie-link:focus .movie-image {
  box-shadow: 0px 0px 28px 3px #ff6b08;
  outline: none;
}

.movie-image {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  transition: box-shadow cubic-bezier(0.17, 0.67, 0.83, 0.67) 100ms;
}
@media screen and (min-width: 768px) {
  .movie-image {
    height: 455px;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .movie-image {
    height: 574px;
  }
}

.movie-info {
  margin-top: 10px;
  margin-bottom: 2px;
}

.movie-title,
.movie-description {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}
@media screen and (min-width: 1280px) {
  .movie-title,
.movie-description {
    font-size: 20px;
  }
}

.movie-title {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.movie-description {
  color: #ff6b08;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.movie-rating {
  padding-left: 10px;
  display: flex;
  width: 40px;
  height: 20px;
  background-color: #ff6b08;
  border-radius: 5px;
  color: #fff;
  font: Roboto;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

.movie-rating.is-hidden {
  visibility: hidden;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

.footer-text {
  text-align: center;
  color: #545454;
  padding: 0 2px 0 2px;
}

.footer-link {
  text-decoration: underline;
}

.footer-icon {
  width: 14px;
  height: 13px;
}

.loader {
  margin: 40px auto 40px auto;
  border: 14px solid #ff6b08;
  border-top: 14px solid rgb(12, 8, 56);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  position: relative;
  background-color: #ffffff;
  width: 320px;
  margin-top: 350px;
}

.modal__movie-backdrop {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  width: 260px;
  height: 404px;
  border-radius: 5px;
}

.modal__wrap {
  padding: 32px 20px 36px;
}

.modal__movie-title {
  text-transform: uppercase;
}

.modal__movie-info {
  margin-left: 0 auto;
  color: #8d8d8d;
}

.movie-vote-upper {
  color: #000000;
}

.movie-popularity-upper {
  color: #000000;
}

.movie-title-upper {
  text-transform: uppercase;
  color: #000000;
}

.movie-genre-upper {
  color: #000000;
}

.modal__movie-overview {
  color: #000000;
}

.modal__btn-close {
  align-items: center;
  justify-content: center;
}

ul li {
  padding: 5px;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

body.dark {
  background-image: linear-gradient(to bottom, rgb(51, 17, 18), rgb(136, 49, 49));
}

body.dark .movie-title {
  color: rgb(27, 9, 187);
}

body.dark .theme-icon[data-theme=light] {
  display: block;
}

body.dark .theme-icon[data-theme=dark] {
  display: none;
}

body.dark .footer {
  background-color: rgb(136, 49, 49);
}

body.dark .footer-text {
  color: black;
}

.page-heading {
  color: rgb(27, 9, 187);
}/*# sourceMappingURL=main.css.map */