body.dark {
  background-image: linear-gradient(
    to bottom,
    rgb(53, 53, 53),
    rgb(32, 32, 32)
  );

  .pagination{
    color: #fff;
  }

}

body.dark .movie-title {
  color: rgb(255, 255, 255);
}

body.dark .theme-icon[data-theme='light'] {
  display: block;
}

body.dark .theme-icon[data-theme='dark'] {
  display: none;
}

body.dark .footer {
  background-color: rgb(148, 148, 148);
}

body.dark .footer-text {
  color: black;
}

.page-heading,
.page-heading-queued {
  color: rgb(255, 255, 255);
}
