@use './../utilities/mixins' as *;
@use './../utilities/variables' as *;

.filters {
    // background-color: grey;
    margin-bottom: 0px;

}

.divForFilters {
    overflow: hidden;
    display: flex;
    // top: 130px;
    margin-top: 45px;
    position: absolute;
    justify-content: flex-start;

    @include tablet-sm {
margin-bottom: 30px;
            }
    
}

.select {

    background-color: #333;
    color: white;
    width: 120px;
    top: 50px;

    @include tablet-sm {
        width: 130px;
    }
        @include tablet-bg {
            width: 150px;
        }

    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

select option:hover,
select option:focus,
select option:checked {
    background-color: $color-accent-red;
}

.options {
    border-radius: 10px;
    color: #fff;
    background-color: #333;
    transition: color 250ms linear, background-color 250ms linear;
}