@use './../utilities/variables' as *;
@use './../utilities/mixins' as *;

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-light-gray;

}

.footer-text {
  text-align: center;
  color: #545454;
  padding: 0 2px 0 2px;
}

.footer-link {
  text-decoration: underline;
}

.footer-icon {
  width: 15px;
  height: 13px;
  animation-name: beat;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.footer-icon:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}

.footer-icon:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  0% {
    transform: scale(0.6);
  }
}

// Modal footer
.modal-about-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 1px $color-accent-red;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-icon {
  cursor: pointer;
  fill: #000000;
  transition: all ease-in-out 250ms;
}

.about-icon:hover,
.about-icon:focus {
  fill: $color-accent-red;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_container {
  background-color: #fff;
  padding: 10px;
  max-width: 280px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__container__footer {
  position: absolute;
  padding: 20px;
  max-width: 280px;
  max-height: 100%;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #ffffff;

  @media (min-width:480px) {
    padding: 10px;
    max-width: 450px;
    max-height: 100vh;
  }

  @media (min-width:768px) {
    max-width: 755px;
  }

  @media (min-width:1280px) {
    max-width: 800px;
  }
}

.modal__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10px;

  @media (max-width:768px) {
    padding: 5px;
  }

  @media (max-width:1280px) {
    gap: 30px;
  }
}

.footer-team-link {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 15px 10px;

  @media (max-width:480px) {
    margin: 5px;
  }

  @media (max-width:768px) {
    gap: 8px;
  }
}

.footer-team-link-list {
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  transition: all ease-in-out 250ms;
  border-radius: 5%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: $color-white;

  &:hover {
    position: relative;
    background-color: $color-white;
    transform: scale(1.1);
    z-index: 100;
  }
}

.footer-team-link-list:hover {
  box-shadow: 0px 0px 10px 1px #545454;
}


.team-name-header {
  margin-top: 10px;
  font-family: $main-font;
  color: #545454;
  text-align: center;
}

.team-name {
  font-family: $main-font;
  font-size: 10px;
  font-weight: bold;
  color: #545454;
  text-align: center;
}

.team-doing {
  font-family: $main-font;
  font-style: italic;
  font-size: 10px;
  color: #545454;
  text-align: start;
  text-align: center;
  margin-bottom: 3px;
}

.sosial-links {
  display: flex;
  justify-content: center;
}

.footer-team-img {
  width: 90px;
  height: 90px;
  border-radius: 5%;
  display: inline;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 5px;

}

.fab {
  color: #545454;
  font-size: 9px;
}

.modal-footer-list {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}

.modal-footer-list:before {
  position: absolute;
  top: 0;
  width: 50%;
  border-top: 1px solid #545454;
  content: '';
}

.modal-footer-link {
  margin-right: 15px;
}

.modal-footer {
  font-family: $main-font;
  font-style: italic;
  font-size: 13px;
  margin-top: 5px;
  color: #545454;

  &:hover {
    color: rgb(255, 107, 8);
  }
}

.sosial-link {
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  border-radius: 50%;
  transition: all ease-in-out 250ms;

  &:hover {
    fill: $color-accent-orange;

    .i-link {
      fill: #ffffff;
    }
  }
}