@use './../utilities/variables' as *;
@use './../utilities/mixins' as *;

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  @include tablet-bg {
    column-gap: 32px;
    row-gap: 32px;
  }

  @include desktop {
    column-gap: 16px;
  }
}

.movie-item {
  max-width: 100%;

  @include tablet-bg {
    width: 336px;
  }

  @include desktop {
    width: calc((1216 - 32) / 3);
  }
}

.movie-link {
  &:hover .movie-image,
  &:focus .movie-image {
    box-shadow: 0px 0px 28px 3px $color-accent-orange;
    outline: none;
  }
}

.movie-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: box-shadow $animate-transition;

  @include tablet-bg {
    height: 455px;
    width: 100%;
  }

  @include desktop {
    height: 574px;
  }
}

.movie-info {
  margin-top: 10px;
  margin-bottom: 2px;
}

.movie-title,
.movie-description {
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

  @include desktop {
    font-size: 20px;
  }
}

.movie-title {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.movie-description {
  color: $color-accent-orange;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.movie-rating {
  padding-left: 10px;
  display: flex;
  width: 40px;
  height: 20px;
  background-color: $color-accent-orange;
  border-radius: 5px;
  color: $color-white;
  font: $main-font;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

.movie-rating.is-hidden {
  visibility: hidden;
}
