@use './../utilities/mixins' as *;
@use './../utilities/variables' as *;

.nothing-p {
  margin-left: auto;
  margin-right: auto;
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $color-accent-red;
}
